body {
  background-color: #151515;
  color: #ecdfcc;
  font-family: "MS PGothic", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "monospace", serif;
}

h3 {
  text-transform: uppercase;
  margin-top: -10px;
  color: #f2613f;
}

a:link,
a:visited,
a:active {
  color: #ecdfcc;
  text-decoration: underline dotted;
}

input,
textarea,
button {
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  color: #ecdfcc;
  border: 1px solid #ecdfcc;
}

input,
textarea {
  width: 90%;
}

textarea {
  height: 200px;
  resize: vertical;
}

button {
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  transform: scale(1.05);
}

canvas {
  width: 90%;
  margin: 20px 0;
  max-width: 100%;
  background-color: #fff8dc;
  border: 1px dashed #151515;
  border-radius: 5px;
}

#conteudo {
  max-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

/* ----------------------------------------------
 * Fade In
 * ---------------------------------------------- */

.fade-in-up {
  animation: fadeInAnimationUp ease 1.4s !important;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimationUp {
  0% {
    opacity: 0;
    transform: translateY(18px);
    /* Starts slightly below */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Ends at the normal position */
  }
}
